/* FOR CSS MODULE
  Add border style rules that are at least 5 pixels and a color of your choice.

*/

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: yellow;
}

nav {
  background-color: #de0d68;
  margin: 04pc;
  height: 10px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  width: 200%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15em;
}

nav ul li {
  margin-right: 8em;
  list-style: none;
  text-transform: uppercase;
  color: rgb(20, 110, 199);
  font-weight: bolder;border-right: ridge rebeccapurple;
}
nav img {
  width: 50px;
  margin-left: 18
  em;
  border-radius: 100%;background-color: #00ff7b;
}
a {
  color: red inherit;
  text-decoration: none;
}

.section {
  margin-top: 0px;
  padding: 3em;
}

.headers-section {
  text-align: left ;font-family: fantasy;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, rgba(21, 93, 157, 0.365), #00ff7b); 
  font-size: x-small;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 5em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 10em;
  margin-top: 30px;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 50em;
  background-color: rgb(216, 35, 113);
  border-radius: 10px;border-top: 30px  ridge red;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: rgb(221, 19, 19);
  text-transform: uppercase;
}

.about-img-wrapper img {
  width: 75%;
  border-radius: 5px;
}

.about-img-wrapper {
  width: 50%;
}

.about-wrapper {
  display: flex;
  padding: 8em 4em;
  width: 80%;
  margin: 0 auto;
}

.gallery-section img {
  width: 300px;
  border-radius: 3px;
  max-height: 500px;
  margin-left: 20.5rem;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 80%;
  margin: 1.5em auto;
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 10em;
  border-right:80px  solid  #de0d68;
  border-top: 40px solid  palevioletred;
  border-left: 80px solid #de0d68;
  border-bottom:40px solid palevioletred;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:aquamarine;color: yellowgreen;
  

}

.section-header {
  font-size: 10em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;border: 15px solid blue;
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
  height: 800px;
}

.awards-section-text {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}

.awards-section div {
  width: 80%;
}

.right-content-box img {
  width: 400px;
  z-index: 100;
  position: relative;
  top: 150px;
  right: 75px;
  border-radius: 10px;
}

.left-content-box {
  background-color: #e9f8ff;
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.left-content-box li {
  margin-top: 1em;

}

.left-content-box p {
  font-size: 1.5em;
  margin-top: 0px;
}

.right-content-box a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}
.steps-card {
  width: 150px;
  text-align: center;
  background-color: #f1f1f8;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-card h1 {
  font-size: 1.5em;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5em auto;
  flex-wrap: wrap;
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 30%;
  margin: 10em auto;
  background-color: #aec7fe;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
}

.certification-process-wrapper li {
  font-size: 1.2em;
  margin-top: 1em;
}
.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
}

/* FOOTER */
.footer-section {
  background-color: #f1f1f8;
  padding: 2em;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
