/* FOR CSS MODULE
  Add border style rules that are at least 5 pixels and a color of your choice.

*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
}

nav {
  background-color: #5f8005;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5em;
}

nav ul li {
  margin-right: 4em;
  list-style: none;
  text-transform: uppercase;
  color: rgb(41, 6, 53);
  font-weight: bolder;
}
nav img {
  width: 50px;
  margin-left: 2em;
  border-radius: 100%;
}
a {
  color: inherit;
  text-decoration-color: blueviolet;
}

.section {
  margin-top: 0px;
  padding: 3em;
}

.headers-section {
  text-align: end;
  margin-block-end: auto;
  margin: 20px;
  border-radius: 20%;
  padding: auto;
  color: #bbff00;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, aliceblue, #01ffff);
}

.about-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
}

.hero-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 6em;
  margin-top: 20px;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 2em;
  background-color: rgb(210, 213, 12);
  border-radius: 100px;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: rgb(109, 4, 102);
  text-transform: uppercase;
}

.about-img-wrapper img {
  width: 205%;
  border-radius: 50px;
}

.about-img-wrapper {
  width: 50%;
}

.about-wrapper {
  display: flex;
  padding: 8em 4em;
  width: 80%;
  margin: 0px
}

.gallery-section img {
  width: 400px;
  border-radius: 10px;
  max-height: 200px;
  margin: 2rem;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 150%;
  margin: 1.5em auto;
  background-color: rgb(213, 120, 5);
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 5em;
  background-color: rgb(174, 255, 0);
}

.section-header {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, rgb(30, 1, 5));
  height: 500px;
}

.awards-section-text {
  text-align: center;
  margin: auto;
  padding-left: 40px;
  border-color: rgb(245, 3, 189);
  border: 25px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}

.awards-section div {
  width: 50%;
}

.right-content-box img {
  width: 100px;
  z-index: 100;
  position: auto;
  top: 60px;
  right: 75px;
  border-radius: 10px;
}

.left-content-box {
  background-color: #e9f8ff;
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.left-content-box li {
  margin-top: 1em;

}

.left-content-box p {
  font-size: 1.5em;
  margin-top: 0px;
}

.right-content-box a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}
.steps-card {
  width: 150px;
  text-align: center;
  background-color: #ee890d;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-card h1 {
  font-size: 5em;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2em;
  flex-wrap: wrap-reverse;
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 1%;
  margin: 10em auto;
  background-color: #ac1292;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
}

.certification-process-wrapper li {
  font-size: 1.6em;
  margin-top: 5em;
}
.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
}

/* FOOTER */
.footer-section {
  background-color: #e7f6a4;
  padding: 2em;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

