/* FOR CSS MODULE
  Add border style rules that are at least 5 pixels and a color of your choice.

*/
html {
  background-image: repeating-radial-gradient(ellipse farthest-corner at top center, #CF1111 38%, #FFAA17 7%, #17FFFF 25%, #146AFF 34%, #E014FF 9%, #FF05AC 7%, #38D1FF 62%, #BD66FF 65%, #CF5777 86%);
  margin: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
}

nav {
  background-color: #054d80;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: auto;
}

#box-nav {
  margin: 20px;
  border-radius: 50%;
  border: solid 5px rgb(0, 0, 0);
  background-image: linear-gradient(to top, white, black, gray, white, gray, black, white, black, gray, black, white);
}

#logo-nav {
  height: 50px;
  padding: 2px;
  margin: 8px 10px 20px 10px;
  border: 5px dotted white;
  box-shadow: 0 0 0 2px white, 0 0 0 5px black;
  border-radius: 100%;
  background-image: linear-gradient(to left, green, pink, yellow, blue, purple);
}

#nav-home {
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 0 2px greenyellow, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  font-family: mono;
  background-image: radial-gradient(black, blue, black, green, black, green, blue);
}

#nav-about {
  padding: 20px;
  box-shadow: 0 0 0 2px greenyellow, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  background-image: radial-gradient(black, blue, black, green, black, green, blue);
}

#nav-contact {
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 0 2px greenyellow, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  font-family: mono;
  background-image: radial-gradient(black, blue, black, green, black, green, blue);
}

#nav-list {
  border-radius: 50px;
  border: 5px solid white;
  background-image: linear-gradient(to left, green, blue, yellow, green, blue, yellow, green, blue, yellow);
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  margin-right: em;
  list-style: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bolder;
}

nav img {
  width: 70px;
  margin-left: 2em;
  border-radius: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-top: 0px;
  padding: 3em;
}

.headers-section {
  text-align: center;
}

.multicolor {
  border: solid white;
  background-image: linear-gradient(to bottom, white,  black, white, rgb(41, 255, 41), rgb(255, 0, 0), white);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 8px;
  font-size: 1.5em;
  ;

}

#box-headers {
  box-shadow: 0px 0px 0px 6px rgb(38, 194, 255),
    0 0 0 12px rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  background-image: linear-gradient(green, yellow, orange, green, yellow, orange, green, yellow, orange, green, yellow, orange);
  padding: 20px;
  border-radius: 200px;
  margin-bottom: 30px;
}

#box-h1 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, black, blue, purple, black, blue, purple, black, blue, purple, black);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  margin: 30px 100px  30px 100px;
}

#box-h2 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, brown, blue, purple, brown, blue, purple, brown, blue, purple, brown);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  border-radius: 100px;
  margin: 30px 50px 30px 100px;
}

#box-h3 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, black, blue, purple, black, blue, purple, black, blue, purple, black);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  margin: 30px 100px 30px 50px;
  color: white;
}

#box-h4 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, brown, blue, purple, brown, blue, purple, brown, blue, purple, brown);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  margin: 30px 50px 30px 100px;
  border-radius: 200px;
}

#box-h5 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, black, blue, purple, black, blue, purple, black, blue, purple, black);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  margin: 30px 100px  30px 50px;
}

#box-h6 {
  text-transform: uppercase;
  background-image: linear-gradient(90deg, brown, blue, purple, brown, blue, purple, brown, blue, purple, brown);
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  box-shadow: 0 0 0 2px white, 0 0 0 3px white, 0 0 0 5px black;
  color: white;
  border-radius: 100px;

  margin: 30px 100px 30px 100px;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, aliceblue, #01ffff);
}

#box-hero {
background-image: radial-gradient(red, green, red, blue, red, green);
border-radius: 20px;
margin-bottom: 20px;
box-shadow: 0 0 0 2px white, 0 0 0 6px black;
border: dotted 12px greenyellow;
}

#wrap-hero {
background-image: linear-gradient(to left, yellow, pink, yellow, orange, yellow, orange, yellow, pink);
border-radius: 50px;
margin-top: 10px;
margin-bottom: 10px;
border: solid 6px brown;
}

#text-hero {
  background-image: linear-gradient(to right top, white, rgb(240, 240, 240), rgb(209, 209, 209));
  border-radius: 100px;
  color: white;
  border: red 10px dotted;
  padding: 40px;
  margin-right: 55px;
}

#hero-h1 {
  border: solid 70px orange;
  border-radius: 100%;
  text-transform: uppercase;
  font-size: 2.5vh;
  background-image: linear-gradient(to left, yellow, blue, yellow);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 30px;
  text-align: center;
}

#hero-p {
border: solid 10px lime;
text-transform: uppercase;
font-size: 2vh;
background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
padding: 10px;
}

#hero-button {
border: red 10px solid;
padding: 10px 1px 10px 1px;
}

#wrap-form {
background-image: repeating-linear-gradient( red, green, red, black, red, blue, red, yellow, black, gray, red, blue);
padding: 100px;
height: 300px;
width: 500px;
border: black 3px solid;
}

#form-h1 {
text-align: center;
color: yellow;
box-shadow: 0 0 0 10px white, 0 0 0 20px lime;
border-radius: 50%;
padding: 20px 0px 20px 0px;
margin-bottom: 30px;
}

#form-content {
  text-align: center;
  color: yellow;
  box-shadow: 0 0 0 10px white, 0 0 0 20px lime;
  border-radius: 50%;
  padding: 30px 30px 20px 30px;
  margin-top: 50px;
}

#first-name {
border: solid 9px blue;
}

#last-name {
  border: solid 4px black;
}

#email {
  border: solid 4px red;
}

#budget-range {
  border: solid 10px orange;
}

#box-about {
background-image: radial-gradient( white 65% ,lime 60%, black 70%);
border: dotted 15px pink;
border-radius: 50%;
}

#wrap-about {
background-image: repeating-linear-gradient(45deg, white, lime, black, blue, white, lime, black, white, blue, lime, white, white, lime, black, blue, white, lime, black, white, lime, black, blue, white, lime, black, white);
border: solid 5px black;
border-radius: 50%;
margin-top: 20px;
margin-bottom: 20px;;
}

#img-about {
border: dashed black 10px;
border-radius: 50%;
width: 400px;
padding-top: 5px;
}

#img-box-about {
border-radius: 50%;
width: 400px;
}

#text-box-about {
background-image:-webkit-repeating-linear-gradient(320deg,red, orange, pink, red, orange, pink,red, orange, pink,red, orange, pink);
border-radius: 50%;
margin-left: 20px;
padding: 30px;
}

#about-h1 {
border: dotted 2px black;
background-image: repeating-linear-gradient(white, yellow, white, yellow, white, yellow);
text-align: center;
width: 200px;
margin: auto;
color: red
}

#about-p {
  border: dotted 2px black;
  background-image: repeating-linear-gradient(white, blue, white, blue, white, blue);
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  color: red;
}

#box-gallery {
background-image: radial-gradient(black, gray, black, gray, black, gray, black, gray);
border-radius: 10%;
}

#text-box-gallery {
  background-image: radial-gradient(white, gray, white, gray, white, gray, white, gray);
border-radius: 50%;

}
:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}

#gallery-h1 {
  margin-bottom: 2px;
  margin-top: 2px;
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  min-height: 20vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
  font-weight: 100;
  text-transform: uppercase;
  color: var(--text-color);
}
.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

#gallery-p {
box-shadow: 0 0 0 5px lime, 0 0 0 9px white, 0 0 0 2px yellow;
}

#gallery-img1 {
  border-radius: 50%;
background: linear-gradient(green, white, lime);
padding: 10px;
}

#gallery-img2 {
  border-radius: 10%;
background: linear-gradient(red, white, orange);
padding: 10px;
}

#gallery-img3 {
  border-radius: 50%;
  background: linear-gradient(blue, black, white);
  padding: 10px;
}

#gallery-img4 {
  border-radius: 100px;
  background: repeating-linear-gradient(black, white, yellow);
  padding: 10px;
}

#gallery-img5 {
  border-radius: 20%;
  background: linear-gradient(pink, black, white);
  padding: 10px;
}

#gallery-img6 {
  border-radius: 50px;
  background: linear-gradient(orange, black, white);
  padding: 10px;
}

#gallery-img7 {
  border-radius: 2%;
  background: linear-gradient(yellow, black, white);
  padding: 10px;
  border: double red 5px;
}

#gallery-img8 {
  border-radius: 50%;
  background: linear-gradient(blue, black, white);
  padding: 10px;
}

#gallery-img9 {
  border-radius: 50%;
  background: linear-gradient(blue, black, white);
  padding: 10px;
  box-shadow: 0 0 0 2px red, 0 0 0 5px blue;
}

#gallery-footer {}

#box-awards {}

#awards-h1 {}

#awards-p {}

#wrap-awards {}

#awards-leftbox {
}

#awards-rightbox {}

#box-steps {}

#steps-h1 {}

#wrap-steps {}

#step1 {}

#step1-h1 {}

#step1-p {}

#step2 {}

#step2-h2 {}

#step2-p {}

#step3 {}

#step3-h3 {}

#step3-p {}

#step4 {}

#step4-h4 {}

#step4-p {}

#box-certificate {}

#wrap-certificate {}

#certificate-h1 {}

#certificate-list {}

#list1 {}

#list2 {}

#list3 {}

#list4 {}

#box-footer {}

#wrap-buttons {}

#button-contact {}

#button-learn {}

#button-request {}

#button-donate {}


.about-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 5em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 2em;
  margin-top: 0px;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.about-img-wrapper img {
  width: 75%;
  border-radius: 5px;
}

.about-img-wrapper {
  width: 50%;
}

.about-wrapper {
  display: flex;
  padding: 8em 4em;
  width: 80%;
  margin: 0 auto;
}

.gallery-section img {
  width: 300px;
  border-radius: 5px;
  max-height: 200px;
  margin: 0.5rem;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 80%;
  margin: 1.5em auto;
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 5em;
}

.section-header {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
  height: 800px;
}

.awards-section-text {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}

.awards-section div {
  width: 80%;
}

.right-content-box img {
  width: 400px;
  z-index: 100;
  position: relative;
  top: 150px;
  right: 75px;
  border-radius: 10px;
}

.left-content-box {
  background-color: #e9f8ff;
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.left-content-box li {
  margin-top: 1em;

}

.left-content-box p {
  font-size: 1.5em;
  margin-top: 0px;
}

.right-content-box a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}

.steps-card {
  width: 150px;
  text-align: center;
  background-color: #f1f1f8;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-card h1 {
  font-size: 1.5em;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5em auto;
  flex-wrap: wrap;
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 30%;
  margin: 10em auto;
  background-color: #aec7fe;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
}

.certification-process-wrapper li {
  font-size: 1.2em;
  margin-top: 1em;
}

.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
}

/* FOOTER */
.footer-section {
  background-color: #f1f1f8;
  padding: 2em;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}